extends ../shared/layout

block content
    div#mainAdminContainer(class="container")
        div(class="row pt-1")
            div(class="col-lg-12 align-center")
                h4#adminNameHeader
        div(class="row pt-1")
            div(class="col-lg-4 border")
                h5(class="pt-1") Add Concert
                form(method="POST" action="/admin/concertAdd")
                    div(class="form-row pb-1")
                        select(class="form-control" name="artistName")
                            option(value="", disabled=true, selected=true) Artist
                            each artist in artists
                                option(value=artist["artistId"])=artist["artistName"]
                    div(class="form-row pb-1")
                        select(class="form-control" name="venueName")
                            option(value="", disabled=true, selected=true) Venue
                            each venue in venues
                                option(value=venue["venueId"])=venue["venueName"]
                    div(class="form-row pb-1")
                        input(class="form-control" type="text" name="price" placeholder="Price")
                    div(class="form-row pb-1")
                        label(for="concertDate") Date:
                            input(class="form-control" type="date" name="concertDate")
                        label(for="concertTime") Time:
                            input(class="form-control" type="time" value="18:00:00" name="concertTime")
                    div(class="form-row pb-1")
                        input(class="form-control btn btn-secondary" type="submit" value="Add")
            div(class="col-lg-4 border")
               h5(class="pt-1") Add Artist
               form(method="POST" action="/admin/artistAdd")
                    div(class="form-row pb-1")
                        input(class="form-control" type="text" name="artistName" placeholder="Name")
                    div(class="form-row pb-1")
                        input(class="form-control btn btn-secondary" type="submit" value="Add")
            div(class="col-lg-4 border")
                h5(class="pt-1") Add Venue
                form(method="POST" action="/admin/venueAdd")
                    div(class="form-row pb-1")
                        input(class="form-control" type="text" name="venueName" placeholder="Venue Name")
                    div(class="form-row pb-1")
                        input(class="form-control" type="text" name="venueCity" placeholder="City")
                    div(class="form-row pb-1")
                        input(class="form-control" type="number" name="venueCapacity" placeholder="Capacity")
                    div(class="form-row pb-1")
                        input(class="form-control btn btn-secondary" type="submit" value="Add")
        div(class="row pt-1")
            div(class="col-lg-4 border")
                h5(class="pt-1") Add Admin
                form(method="POST" action="/admin/adminAdd")
                    div(class="form-row pb-1")
                        input(class="form-control" type="text" name="loginName" placeholder="Login ID")
                    div(class="form-row pb-1")
                        input(class="form-control" type="text" name="email" placeholder="E-Mail")
                    div(class="form-row pb-1")
                        input(class="form-control" type="password" name="password" placeholder="Password")
                    div(class="form-row pb-1")
                        input(class="form-control btn btn-secondary" type="submit" value="Add")
            div(class="col-lg-4 border")
                h5(class="pt-1") Re-Index Searches
                form(method="POST" action="/admin/reindex")
                    div(class="form-row pb-1")
                        input(class="form-control btn btn-warning" type="submit" value="Start")
                h3(class="font-weight-bold") Note that depending on the amount of data, this operation can take a long time!
            div(class="col-lg-4 border")
                h5(class="pt-1") Cancel Concert
                form(method="POST" action="/admin/cancel")
                    div(class="form-row pb-1")
                        select(class="form-control" name="concertId")
                            each concert in concerts
                                if !concert["cancelled"]
                                    option(value=concert["concertId"])=concert["artistName"] + " - " + concert["venueName"] + " - " + concert["concertDate"].substring(0, 10) + " " + concert["concertDate"].substring(11, 16)
                    div(class="form-row pb-1")
                        input(class="form-control btn btn-danger" type="submit" value="Cancel")
        
        script(type="text/javascript").
            var admin = !{JSON.stringify(admin)};
            var venues = !{JSON.stringify(venues)};
            var artists = !{JSON.stringify(artists)};
            var concerts = !{JSON.stringify(concerts)};
            
            document.getElementById("adminNameHeader").innerText = "You are logged in as " + admin["loginName"];